.col-xs-12.well.dark-gray.visible-xs(style='margin-bottom:0;')
  div
    img.img-responsive(style='width:30%;display:inline-block' src='jsquiz/img/photosProfils/#{data.user.pseudo}-thumbnail' , alt='photo de profil')             
    div(style='margin-left:5%;width:65%;display:inline-block')
      div.font-bold(style='font-size:1.7em;font-weight:600;')= data.user.pseudo
      if profilOwnerIsConnected && profilOwner != pseudo
          div.en-ligne-xs(id='enLigne-smartphone-#{data.user.pseudo}' ) En ligne

  p.textLarge.font-bold.inline(style='margin-top:8px;')= data.user.prenom  +' '+ data.user.nom

  if data.user.niveauJS    
    p.textxMedium= 'Developpeur Javascript'
    p.textxMedium= 'Niveau: ' + data.user.niveauJS 
  else
    p.textxMedium= 'Developpeur Javascript'

  if accesPosts && pseudo != profilOwner
    include menuSelectEnteteProfil.jade

    a(href="/creerDiscussion/#{profilOwner}")
      img.icon-messagerie(src='jsquiz/img/messagerie2.png' onclick="" title='Messagerie')
    if profilOwnerIsConnected
      img.icon-chat(id='icon-chatSP-#{data.user.pseudo}' src='jsquiz/img/chat-icon5.png' onclick="openChat('#{data.user.pseudo}')" title='Démarrer le chat')
    
    //Zone pour suggérer des amis (enlever amis en commun)
    .well.zone-suggerer-amis
      
      img.close-amis-suggeres(src='jsquiz/img/delete20.png' style='float:right;cursor:pointer' title='Fermer' alt='Fermer')     
      if amisAsuggerer.length > 0
        p.textxMedium= 'Suggérer des amis que '+ profilOwner +' pourrait connaitre'
        each val, index in amisAsuggerer
          div(id='suggered-friend-#{val}')
            img.photo-suggerer-amis(src='jsquiz/img/photosProfils/#{val}-thumbnail', alt='photo de profil')
            p(style='display:inline-block;width:100px;margin-left:20px;')=  val
            //Au clic du bouton au recuperera id='#{profilOwner}-#{val}
            input.suggerer-friend.btn.btn-success.btn-xs(style='margin-left:30px;' id='#{profilOwner}-#{val}' type='button', value='Suggérer comme ami(e)')         
            hr
      else
        p.textMedium(style="") A lui suggérer des amis tu n'as point pour le moment...  
        img.img-responsive(style='width:300px', src='jsquiz/img/giphy-yoda.gif', alt='giphy')
    
    if pseudo == 'jsquiz'
      //Zone pour supprimer des amis  
      .well.zone-supprimer-amis
        
        img.close-supprimer-amis(src='jsquiz/img/delete20.png' style='float:right;cursor:pointer' title='Fermer' alt='Fermer')     
        if amis.length > 0
          p.textxxMedium= 'Supprimer des amis de '+ profilOwner 
          each val, index in amis
            div(id='friend-#{val}')
              img.photo-supprimer-amis(src='jsquiz/img/photosProfils/#{val}-thumbnail', alt='photo de profil')
              p(style='display:inline-block;width:100px;margin-left:20px;')= pseudo
              //Au clic du bouton au recuperera id='#{profilOwner}-#{val}
              input.supprimer-friend.btn.btn-danger.btn-xs(style='margin-left:30px;' id='#{profilOwner}-#{val}' type='button', value='Supprimer')         
              hr
        else
          p.textxMedium(style="") Cette personne n'a pas d'amis...     
          img.img-responsive(style='width:300px', src='jsquiz/img/giphy-yoda.gif', alt='giphy')

  if pseudo == 'jsquiz'
    include boutonsAdminModifEtsupressProfil.jade   