doctype html
html
  include head.jade
  body  
    // Navigation
    include navigation.jade

    //contenu page
    .container
      
      .row.well(style='margin-bottom:3px')
 
        //Entete (mobiles, smartphone)  
        include enteteSmartphone.jade
        
      .row.well 
      
        //Navigation onglets
        .col-xs-12.visible-xs(style="margin-bottom:5px;padding:0px;")      
          ul.nav.nav-tabs
            li(role='presentation',  id ='')
              a(href='/profil/#{profilOwner}' ) Mur

            li(role='presentation', class="active", id='')
              a(href='/info/#{profilOwner}' ) Info

            li(role='presentation')   
              a(href='/amis/#{profilOwner}', id='') Amis

            li(role='presentation')   
              a(href='/quizes/#{profilOwner}', id='') Quiz   

      .row.well 

        //Colonne presentation et amis 
        .col-sm-12.visible-xs(id="profil-left-col" style='')
          .well.dark-gray
            p.textxMedium= data.user.genre 
            p.textxMedium= data.user.age + ' ans'
            p.textxMedium= 'Habite à ' + data.user.ville
            
            .textxMedium(style="font-weight:600") Presentation:
            p= data.user.presentation 
            
            if pseudo === 'jsquiz' 
              .textxMedium(style="font-weight:600") Email:
              p= data.user.email              
                              
        if accesPosts == false 
          .col-sm-9.col-xs-12  
            //Envoyez une invitation
            .well.text-left.dark-gray#exprimez-vous

              if statut == 'invitation en cours'
                p.textxMedium(style="font-weight:600")= 'Vous avez demandé à être son ami.'
                div(style='color:green;font-weight:600') Demande en attente de confirmation...
              else
                p.textxMedium(style="font-weight:600")= 'Vous connaissez ' + profilOwner + ' ?'
                p.textRegular(style='margin-right:5px;')= 'Pour voir ce qu’' + pronom + ' partage avec ses amis, envoyez-lui une invitation. '
                div(style='color:green;')
                  input.btn-add-friend.btn.btn-success.btn-xs(id='#{profilOwner}' type='button', value='Inviter')
                

include footer.jade
